//Harish 29-09-22
@media(min-width:'700px')and(max-width:'1024px') {
  .dashboard-style {
    margin-top: 10px;

    .card {
      text-align: center;
      // height: 200px;
    }

    .top_cards {
      height: 210px !important;
    }

    .Bottom_card {
      height: 280px;
    }

    .card-header {
      font-size: 16px;
      font-weight: 600;
      // background: #ebc867;
    }

    .card-body {}

    hr {
      margin: 0 !important
    }

    h3 {
      font-size: 20px;
    }

    .stdRegisIconStyle {
      height: 45px;
      width: 45px;
    }

    .TeacherIcon {
      height: 50px;
      width: 50px
    }

    .addAll {
      height: 40px;
      width: 40px
    }

    .ArrowIcon {
      height: 20px;
      width: 20px
    }

  }
}

@media(min-width:'1025px')and(max-width:'1368px') {
  .dashboard-style {
    margin-top: 10px;

    .card {
      text-align: center;
      // height: 200px;
    }

    .top_cards {
      height: 210px !important;
    }

    .Bottom_card {
      height: 280px;
    }

    .card-header {
      font-size: 16px;
      font-weight: 600;
      // background: #ebc867;
    }

    .card-body {}

    hr {
      margin: 0 !important
    }

    h3 {
      font-size: 20px;
    }

    .stdRegisIconStyle {
      height: 45px;
      width: 45px;
    }

    .TeacherIcon {
      height: 50px;
      width: 50px
    }

    .addAll {
      height: 40px;
      width: 40px
    }

    .ArrowIcon {
      height: 20px;
      width: 20px
    }

  }
}

@media(min-width:'1369px')and(max-width:'1920px') {
  .dashboard-style {
    margin-top: 10px;

    .card {
      text-align: center;
      // height: 200px;
    }

    .top_cards {
      height: 210px !important;
    }

    .Bottom_card {
      height: 280px;
    }

    .card-header {
      font-size: 16px;
      font-weight: 600;
      // background: #ebc867;
    }

    .card-body {}

    hr {
      margin: 0 !important
    }

    h3 {
      font-size: 20px;
    }

    .stdRegisIconStyle {
      height: 45px;
      width: 45px;
    }

    .TeacherIcon {
      height: 50px;
      width: 50px
    }

    .addAll {
      height: 40px;
      width: 40px
    }

    .ArrowIcon {
      height: 20px;
      width: 20px
    }

  }
}